In [463]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
%matplotlib inline

In [465]:
# act_sum(?)
# .dat files

In [467]:
# these responses were given for the total amount of mins that the individual did the activity the day prior to the interview

In [469]:
# The 2014 Activity Summary file contains data for the total number of minutes that each respondent spent doing each 6-digit activity.  Each record corresponds to a unique respondent, as indicated by a unique value of the variable TUCASEID.
# The variable names identify activities by their 6-digit codes.  The letter "t" precedes the 6-digit codes.  The first and second digits of the 6-digit code correspond to the variable tutier1code; the third and fourth digits of the 6-digit code correspond to the variable tutier2code; and, the fifth and sixth digits of the 6-digit code correspond to the variable tutier3code.  For example, the variable "t040102" refers to the activity with TUTIER1CODE=04, TUTIER2CODE=01, and TUTIER3CODE=02.  
activity_sum = pd.read_csv('data/atussum_2014.dat')
activity_sum.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181601,t181699,t181801,t181899,t189999,t500101,t500103,t500105,t500106,t500107
0,20140101140007,4.891316e+06,0,20,2,39,1,1,1,4,...,0,0,0,0,0,0,0,0,0,0
1,20140101140011,2.314737e+07,16,16,2,37,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20140101140028,2.094182e+07,2,65,2,38,1,1,1,5,...,0,0,0,0,0,0,0,0,0,0
3,20140101140063,2.505899e+06,-1,50,2,39,2,2,2,5,...,0,0,0,0,0,0,0,0,0,0
4,20140101140168,1.592823e+07,8,23,2,39,2,2,2,4,...,0,0,0,0,0,0,0,0,0,0

In [471]:
# lets remove all the columns except the tucaseid, teage, tesex, peeduca and selected variables
# col_list = [3, 5]
# df = df[col_list]
col_list = ['tucaseid', 'TEAGE', "TESEX", 'PEEDUCA', 't040102', 't050101', 't070201', 't110201', 't120302', 't120307', 't120312', 't180501', 't180702']
activity_sum = activity_sum[col_list]

In [473]:
activity_sum.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181601,t181699,t181801,t181899,t189999,t500101,t500103,t500105,t500106,t500107
0,20140101140007,4.891316e+06,0,20,2,39,1,1,1,4,...,0,0,0,0,0,0,0,0,0,0
1,20140101140011,2.314737e+07,16,16,2,37,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20140101140028,2.094182e+07,2,65,2,38,1,1,1,5,...,0,0,0,0,0,0,0,0,0,0
3,20140101140063,2.505899e+06,-1,50,2,39,2,2,2,5,...,0,0,0,0,0,0,0,0,0,0
4,20140101140168,1.592823e+07,8,23,2,39,2,2,2,4,...,0,0,0,0,0,0,0,0,0,0

In [475]:
# we need to change the column names into things we know 
# df = df.rename(columns={'$a': 'a', '$b': 'b'})
activity_sum = activity_sum.rename(columns={'tucaseid': 'RESPONDING INDIVIDUAL', 'TEAGE': 'AGE', 'TESEX':'SEX', 't040102':"TAKING CARE OF OTHER'S KIDS", 'PEEDUCA':'EDUCATION', 't050101':'WORKING', 't070201': 'COMPARISON SHOPPING', 't110201':'WAITING TO EAT/DRINK', 't120302':'TOBACCO/DRUG USE', 't120307': 'PLAYING GAMES', 't120312':'READING FOR PLEASURE', 't180501':'TRAVELING TO WORK', 't180702':'TRAVELING TO PURCHASE GAS'})

In [494]:
activity_sum.head()

,RESPONDING INDIVIDUAL,AGE,SEX,EDUCATION,TAKING CARE OF OTHER'S KIDS,WORKING,COMPARISON SHOPPING,WAITING TO EAT/DRINK,TOBACCO/DRUG USE,PLAYING GAMES,READING FOR PLEASURE,TRAVELING TO WORK,TRAVELING TO PURCHASE GAS
0,20140101140007,20,2,39,0,0,0,0,0,0,0,0,0
1,20140101140011,16,2,37,0,465,0,0,0,0,0,90,0
2,20140101140028,65,2,38,0,0,0,0,0,0,0,0,0
3,20140101140063,50,2,39,0,0,0,0,0,0,0,0,0
4,20140101140168,23,2,39,0,0,0,0,0,0,0,0,0

In [ ]:
age_v_working = activity_sum.

In [ ]:
# set the index to DIFFERENT STANDARS (AGE, SEX, EDUCATION) so can see the differences between men and women for these variables

In [481]:
# by grouping by the sex column, we can see how many females/males there are in this survey.
activity_sum.groupby("SEX").size()

SEX
1    5124
2    6468
dtype: int64

In [483]:
activity_sum.WORKING.describe()

count    11592.000000
mean       150.513975
std        238.352837
min          0.000000
25%          0.000000
50%          0.000000
75%        360.250000
max       1265.000000
Name: WORKING, dtype: float64

In [485]:
activity_sum.AGE.describe()

count    11592.000000
mean        48.797188
std         17.892812
min         15.000000
25%         35.000000
50%         48.000000
75%         63.000000
max         85.000000
Name: AGE, dtype: float64

In [487]:
# activity_sum = pd.DataFrame(np.random.randn(1000, 9), columns=["TAKING CARE OF OTHER'S KIDS", 'WORKING', 'COMPARISON SHOPPING', 'WAITING TO EAT/DRINK', 'TOBACCO/DRUG USE', 'PLAYING GAMES', 'READING FOR PLEASURE', 'TRAVELING TO WORK', 'TRAVELING TO PURCHASE GAS'])
  

# activity_sum = activity_sum.cumsum()

# # plt.figure(); activity_sum.plot(); plt.legend(loc='best')