In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
%matplotlib inline

In [62]:
# activity, roster, uscp(?)
# .dat files

In [64]:
respondents = pd.read_csv('data/atusresp_2014.dat')
respondents.head()

,TUCASEID,TULINENO,TUYEAR,TUMONTH,TEABSRSN,TEERN,TEERNH1O,TEERNH2,TEERNHRO,TEERNHRY,...,TXSPEMPNOT,TXSPUHRS,TXTCC,TXTCCTOT,TXTCOC,TXTHH,TXTNOHH,TXTO,TXTOHH,TXTONHH
0,20140101140007,1,2014,1,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,-1,0,0,-1
1,20140101140011,1,2014,1,-1,-1,-1,500,-1,1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
2,20140101140028,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,0,-1,-1,-1
3,20140101140063,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
4,20140101140168,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,-1,0,0,-1

In [10]:
activities = pd.read_csv('data/atusact_2014.dat')

In [66]:
# f.drop(df.columns[[0, 1, 3]], axis=1)  # df.columns is zero-based pd.Index 
activities_reduced = activities.drop(activities.columns[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 28, 27, 26]], axis=1)
activities_reduced.head()

         TUCASEID TUSTARTTIM TUSTOPTIME  TUTIER1CODE  TUTIER2CODE  TUTIER3CODE
0  20140101140007   04:00:00   13:00:00            1            1            1
1  20140101140007   13:00:00   13:30:00            3            1            1
2  20140101140007   13:30:00   14:30:00            1            2            1
3  20140101140007   14:30:00   14:40:00           18           11            1
4  20140101140007   14:40:00   15:10:00           11            1            1

In [105]:
roster = pd.read_csv('data/atusrost_2014.dat')

In [104]:
# roster_reduced = roster.drop(roster.columns[[3, 5, 6, 7]], axis = 1)
# roster_reduced.head()
# # roster_age = roster_reduced['TEAGE'].value_counts()
# # roster_age.plot(kind='bar')
# make a new df called result of the combination of roster and activity
# result = df1.append([df2, df3])
# also we need to ignore the NaN in our calculations
# Operations in general exclude missing data.
# result = roster_reduced.append(activities_reduced)
# we need to change the column names into things we know 
# df = df.rename(columns={'$a': 'a', '$b': 'b'})
# result = result.rename(columns={'TEAGE': 'Age', 'TESEX': "Sex", 'TUSTARTTIM': "START TIME", 'TUSTOPTIME': 'STOP TIME', 'TUTIER1CODE': 'MAIN CATEGORY', 'TUTIER2CODE': '2ND TIER', 'TUTIER3CODE': '3RD TIER', 'TULINENO': 'INDIVIDUAL'})

In [106]:
roster.head()

         TUCASEID  TULINENO  TEAGE  TERRP  TESEX  TXAGE  TXRRP  TXSEX
0  20140101140007         1     20     19      2      0      0      0
1  20140101140007         2     19     21      1      0      0      0
2  20140101140007         3      0     22      1      0      0      0
3  20140101140011         1     16     18      2      0      0      0
4  20140101140011         2     33     24      2      0      0      0

In [107]:
roster_reduced = roster.drop(roster.columns[[3, 5, 6, 7]], axis = 1)