In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
%matplotlib inline

In [2]:
activity_sum = pd.read_csv('data/atussum_2014.dat')
activity_sum.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181601,t181699,t181801,t181899,t189999,t500101,t500103,t500105,t500106,t500107
0,20140101140007,4.891316e+06,0,20,2,39,1,1,1,4,...,0,0,0,0,0,0,0,0,0,0
1,20140101140011,2.314737e+07,16,16,2,37,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20140101140028,2.094182e+07,2,65,2,38,1,1,1,5,...,0,0,0,0,0,0,0,0,0,0
3,20140101140063,2.505899e+06,-1,50,2,39,2,2,2,5,...,0,0,0,0,0,0,0,0,0,0
4,20140101140168,1.592823e+07,8,23,2,39,2,2,2,4,...,0,0,0,0,0,0,0,0,0,0

In [3]:
col_list = ['TEAGE', "TESEX", 'PEEDUCA', 't040102', 't050101', 't070201', 't110201', 't120302', 't120307', 't120312', 't180501', 't180702']
activity_sum = activity_sum[col_list]

In [4]:
activity_sum = activity_sum.rename(columns={'TEAGE': 'AGE', 'TESEX':'SEX', 't040102':"TAKING CARE OF OTHER'S KIDS", 'PEEDUCA':'EDUCATION', 't050101':'WORKING', 't070201': 'COMPARISON SHOPPING', 't110201':'WAITING TO EAT/DRINK', 't120302':'TOBACCO/DRUG USE', 't120307': 'PLAYING GAMES', 't120312':'READING FOR PLEASURE', 't180501':'TRAVELING TO WORK', 't180702':'TRAVELING TO PURCHASE GAS'})

In [5]:
activity_sum.head()

,AGE,SEX,EDUCATION,TAKING CARE OF OTHER'S KIDS,WORKING,COMPARISON SHOPPING,WAITING TO EAT/DRINK,TOBACCO/DRUG USE,PLAYING GAMES,READING FOR PLEASURE,TRAVELING TO WORK,TRAVELING TO PURCHASE GAS
0,20,2,39,0,0,0,0,0,0,0,0,0
1,16,2,37,0,465,0,0,0,0,0,90,0
2,65,2,38,0,0,0,0,0,0,0,0,0
3,50,2,39,0,0,0,0,0,0,0,0,0
4,23,2,39,0,0,0,0,0,0,0,0,0

In [6]:
sex_sum = activity_sum.set_index('SEX')
age_sum = activity_sum.set_index('AGE')
edu_sum = activity_sum.set_index('EDUCATION')

In [7]:
sex_sum.head()

,AGE,EDUCATION,TAKING CARE OF OTHER'S KIDS,WORKING,COMPARISON SHOPPING,WAITING TO EAT/DRINK,TOBACCO/DRUG USE,PLAYING GAMES,READING FOR PLEASURE,TRAVELING TO WORK,TRAVELING TO PURCHASE GAS
SEX,,,,,,,,,,,
2,20,39,0,0,0,0,0,0,0,0,0
2,16,37,0,465,0,0,0,0,0,90,0
2,65,38,0,0,0,0,0,0,0,0,0
2,50,39,0,0,0,0,0,0,0,0,0
2,23,39,0,0,0,0,0,0,0,0,0

In [ ]:
sex_sum = sex_sum.sort_index()
sex_sum

In [ ]:
# sex_sum.plot("WORKING", kind = 'bar')

In [ ]:
# sex_sum.plot("COMPARISON SHOPPING", kind = 'bar')

In [ ]:
# sex_sum.plot("WAITING TO EAT/DRINK", kind = 'bar')

In [ ]:
# sex_sum.plot('TOBACCO/DRUG USE', kind = 'bar')

In [ ]:
# sex_sum.plot("PLAYING GAMES", kind = 'bar')

In [ ]:
# sex_sum.plot("READING FOR PLEASURE", kind = 'bar')

In [ ]:
# sex_sum.plot("TRAVELING TO WORK", kind = 'bar')

In [ ]:
# sex_sum.plot("TRAVELING TO PURCHASE GAS", kind = 'bar')

In [ ]:
sex_sum.describe()

In [ ]:
age_sum.head()

In [ ]:
age_sum = age_sum.sort_index()

In [ ]:
age_sum.describe()

In [ ]:
age_sum.plot(y='COMPARISON SHOPPING', kind = 'bar')

In [ ]:
age_sum.plot(y="TAKING CARE OF OTHER'S KIDS", kind = 'bar')

In [ ]:
age_sum.plot(y="WORKING", kind = 'bar')

In [ ]:
age_sum.plot(y="WAITING TO EAT/DRINK", kind = 'bar')

In [ ]:
age_sum.plot(y="TOBACCO/DRUG USE", kind = 'bar')

In [ ]:
age_sum.plot(y="PLAYING GAMES", kind = 'bar')

In [ ]:
age_sum.plot(y="READING FOR PLEASURE", kind = 'bar')

In [ ]:
age_sum.plot(y="TRAVELING TO WORK", kind = 'bar')

In [ ]:
age_sum.plot(y="TRAVELING TO PURCHASE GAS", kind = 'bar')

In [ ]:
edu_sum.head()

In [ ]:
edu_sum.sort_index()

In [ ]:
edu_sum.describe()